<%- include('../partials/header') %>

<div class="container">
    <div class="row justify-content-center">
        <h3>Add Workout</h3>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-sm text-right">
            TITLE
        </div>
        <div class="col-sm">
            <form action="/workouts" method="POST">
                <input type="text" name="title" required pattern="\w+" size="10">
        </div>
    </div>

    <div class="row justify-content-center align-items-center">
        <div class="col-sm text-right">
            DATE
        </div>
        <div class="col-sm">
                <input type="datetime-local" name="date" placeholder="YYYY-MM-DD HH:MM" required pattern="\d{4}-\d{2}-\d{2} \d{1, 2}:[0-6]{1, 2}" size="10">
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-sm text-right">
            DURATION
        </div>
        <div class="col-sm">
            <input type="text" name="duration" placeholder="minute(s)" required pattern="\d+" size="10">
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-sm text-right">
            CALORIES
        </div>
        <div class="col-sm">
            <input type="text" name="calories" placeholder="0" required pattern="\d+" size="10">
        </div>
    </div>

    <hr/>

    <!-- Proceed to add exercises -->
    <div class="row justify-content-center align-items-center">
        <button type="submit" class="btn btn-primary">CONFIRM</button>
        </form>
    </div>
</div>


<%- include('../partials/footer') %>