@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  padding: 50px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  background-color: #222831;
  color: #393e46;
}

a {
  color: #00adb5;
}

#main-nav {
  border-radius: 5px;
  background-color: #eeeeee;
}

#user-tag {
  font-size: 24px;
}

#new-workout-form, #workout-index, #edit-workout-form {
  background: white;
}

#icons {
  display: flex;
  justify-content: space-evenly;
}

#first-col-format {
  text-align: start;
  margin-left: 5%;
}
.form-title {
  margin-left: 5%
}

@media only screen and (max-width: 480px) {
  #logout {
    flex-direction: row;
  }
}